html {
  font-family: "Jost", sans-serif;
  background-color: ivory;
  margin-top: 20px;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

a {
  color: rgb(85, 85, 140);
  text-decoration: none;
}

/* a:link {
  color: gainsboro;
} */
a:hover {
  color: rgb(131, 131, 211);
}

h1 {
  font-size: 4em;
  margin-bottom: 0%;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-style: italic;
  flex: 10;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 100px;
}

.grid > div,
.grid > a {
  background-color: rgb(242, 242, 217);
  border-radius: 8px;
  padding: 30px;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
  color: rgb(85, 85, 140);
}

.grid > div:hover,
.grid > a:hover {
  box-shadow: 0px 5px 10px lavender;
  color: rgb(144, 144, 207);
}

.grid > div:active,
.grid > a:active {
  box-shadow: 0px 5px 10px ivory;
  background-color: rgb(206, 206, 226);
}

section {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* .active {
  color: red;
} */

nav {
  position: sticky;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 9.5rem;
  align-items: center;
  font-size: large;
  /* background-color: black; */
}

/* img {
  border-radius: 20px;
} */

.active {
  display: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.caption {
  text-align: center;
  padding-top: 20px;
}

.deets {
  text-align: center;
  font-size: 13.5px;
  color: rgb(158, 158, 174);
  font-style: italic;
}
